.footer {
  height: 50px;
  width: 100%;
  background-color: rgb(211, 237, 220);
  margin: 0 auto;

  &__wrapper {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    transition: all 0.5s ease;
  }

  @media screen and (max-width: 1400px) {
    &__wrapper {
      width: 600px;
    }
  }
  @media screen and (max-width: 700px) {
    &__wrapper {
      width: 300px;
    }
  }
}